
body {
    text-align: center;
    background-image: url("../../../images/background.png");
}

#pageWrap {
    width: 900px;
    margin: 0 auto;
}

header img{
    z-index: 1;
    margin-top: -100px;
    margin-right: 80px;
}

#menuWrap{
    width: 100%;
    text-align: center;
    margin-top: -50px;
    position: absolute;
}

nav{
    z-index: 2;
    margin-right: 10px;
    text-align: center;
}

.link{
    margin: 0 auto;
    width: 330px;
    height: 80px;
}

.imageHolder{
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#playButton div{ background-image: url("../../../images/play_btn.png"); }
#playButton:hover div{
    background-image: url("../../../images/play_btn_selected.png");
}

#creditButton div { background-image: url("../../../images/credit_btn.png"); margin-left: 5px;}
#creditButton:hover div{
    background-image: url("../../../images/credit_btn_selected.png");
}

