
body {
    text-align: center;
    background-image: url("../../../images/background.png");
}

#pageWrap {
    width: 900px;
    margin: 0 auto;
}

header img{
    z-index: 1;
    margin-top: -100px;
    margin-right: 80px;
}

#menuWrap{
    width: 100%;
    text-align: center;
    margin-top: -50px;
    position: absolute;
}

nav{
    z-index: 2;
    margin-right: 10px;
    text-align: center;
}

.link{
    margin: 0 auto;
    width: 330px;
    height: 80px;
}

.imageHolder{
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#playButton div{ background-image: url("../../../images/play_btn.png"); }
#playButton:hover div{
    background-image: url("../../../images/play_btn_selected.png");
}

#creditButton div { background-image: url("../../../images/credit_btn.png"); margin-left: 5px;}
#creditButton:hover div{
    background-image: url("../../../images/credit_btn_selected.png");
}

#credits{
    display: none;
    margin: 0 auto;
    width: 450px;
    height: 220px;
    margin-bottom: 20px;
    border: 1px solid #A3A3A3;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    -webkit-box-shadow: inset -9px 0px 201px -61px rgba(0,0,0,0.7);
    -moz-box-shadow: inset -9px 0px 201px -61px rgba(0,0,0,0.7);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.creditItem{
    border: 1px dashed #A3A3A3;
    border-radius: 5px;
    line-height: 45px;
    vertical-align: middle;
    margin: 0 auto;
    padding: 8px;
    width: 80%;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-top: 5px;
    -webkit-box-shadow: inset -9px 0px 201px -61px rgba(0,0,0,0.5);
    -moz-box-shadow: inset -9px 0px 201px -61px rgba(0,0,0,0.5);
    box-shadow: inset -9px 0px 201px -61px rgba(0,0,0,0.5);
}

.creditItem:hover{
    background-color: #3FADD1;
    transition: all 1s linear;
}

