
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 320%; }
.ui-dialog-osx { margin-bottom: 300px;}
#headerLogo{
    display: none;
}

#headerNav{
    width: 50%;
}

#headerNav ul li{
    display: block;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 15px;
}
#headerTimer{
    width: 45%;
}

#chatWrap{
    float: left;
    width: 99%;
    height: 450px;
}

#usersWrap{
    width: 99%;
    float: left;
}

#chatContent{
    height: 60%;
}

#drawWrap{
    float: left;
    width: 99%;
}

#canvasTitleHeader h2{
    font-size: 15px;
    width: 100%;
}

#toolboxContent{
    display: block;
    width: 100%;
}

#canvasWrap{
    height: 350px;
    width: 100%;
}

#canvasSizeWrap{
    height: 250px;
}

#toolboxWrap{
    position: relative;
    float: left;
    width: 100%;
}
#toolboxRow{
    display: none;
}

